body {
  background-color: #ced1ff;
  color: black;
}

a {
  color: lime;
  background-color: black;
}

.louchan {
  background-color: #000000;
  color: white;
}

.motd {
  color: #b60000;
  font-style: italic;
}

.erver {
  color: #b60000;
}

.postlc {
  color: white;
  border-style: double;
  border-width: thick;
  border-color: #005207;
  width: 50%;
  word-wrap: break-word;
  background-color: #000000;
}


.post {
  color: black;
  border-style: double;
  border-width: thick;
  border-color: #2734ff;
  width: 50%;
  word-wrap: break-word;
  background-color: #8e95ff;
}

.admin-dd {
  color: black;
  border-style: double;
  border-width: medium;
  width: 100%;
  word-wrap: break-word;
  background-color: #cecfff;
  display: none;
}

.hidden-btn {
  opacity: 0.5;
}

.btm-ftr {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 25%;
  color: inherit;
  background-color: #000123;
}
.hiddenstuff {
  display: none;
}
